In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'D:\ml_ineuron\modular\Ml_class_ineuron\data\Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
X = df.drop('sales', axis=1)
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [4]:
y = df['sales']
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

# Testing the hyperparameter with Ridge model

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

In [7]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
from sklearn.linear_model import Ridge 
from sklearn.metrics import mean_squared_error

In [10]:
model1 = Ridge(alpha=100)
model1.fit(X_train,y_train)
pred = model1.predict(X_test)

In [11]:
mean_squared_error(y_test,pred,squared=False)

2.7095711448556075

In [12]:
model2 = Ridge(alpha = 1)
model2.fit(X_train,y_train)
pred2 = model2.predict(X_test)
mean_squared_error(y_test,pred2,squared=False) # from the 2 model we can say that changing the hyperparametere will give us good result so lets do cross validation and chck that

1.5228334050147283

# Cross validation manual method

In [13]:
X_train, X_other, y_train, y_other = train_test_split(X,y, test_size=0.3, random_state=101)

In [14]:
# test size = 0.5( 50% of the 30% other data)
X_eval, X_test, y_eval, y_test = train_test_split(X_other,y_other, test_size=0.5, random_state=101)

In [15]:
len(X_train)

140

In [16]:
len(X_other)

60

In [17]:
#again seprating the other set into 50% evaluation(validation / holdout ) and 50% test data 
print(len(X_eval))
len(X_test)

30

30

In [18]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_eval = scaler.transform(X_eval)

In [19]:
# lets check the error of model by the validation data if error is less then we can implement into the test data
model3 = Ridge(alpha = 100 )
model3.fit(X_train, y_train)
pred3 = model3.predict(X_eval)
mean_squared_error(y_eval, pred3 , squared = False)

2.705568601758948

In [20]:
#lest check with alpha 1 
model4 = Ridge(alpha=1)
model4.fit(X_train, y_train)
pred4 = model4.predict(X_eval)
mean_squared_error(y_eval, pred4 , squared=False)

1.5439504768796781

In [21]:
# from the 2 testing with the valildation datasets alpha with 1 is better so lets do the final prediction 
final_model = Ridge(alpha=1)
final_model.fit(X_train, y_train)
final_pred = final_model.predict(X_test)
mean_squared_error(y_test, final_pred , squared = False)

1.5014193564093001

# with scikit learn

In [22]:
## CREATE X and y
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
from sklearn.model_selection import cross_val_score
model = Ridge(alpha = 100)
scores = cross_val_score(model, X_train, y_train,scoring='neg_mean_squared_error', cv=5)
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [26]:
abs(scores.mean())

8.215396464543607

In [27]:
model_2 = Ridge(alpha =1 )
scores3 = cross_val_score(model2, X_train, y_train,scoring='neg_mean_squared_error', cv=5)
scores3

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [28]:
abs(scores3.mean())

3.344839296530695

In [29]:
# model_2 better we can select the model_2 and predict
model_2.fit(X_train, y_train)
final_ped = model_2.predict(X_test)
mean_squared_error(y_test,final_ped,squared=False)

1.5228334050147283

# with Cross_validate method

In [30]:
#Evaluate metric(s) by cross-validation and also record fit/score times.
from sklearn.model_selection import cross_validate

In [37]:
model = Ridge(alpha=100)
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=5)

In [38]:
score = pd.DataFrame(scores)
score

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001994,0.000997,-9.325530,-2.312430
1,0.001994,0.001615,-4.944962,-1.746534
2,0.001994,0.000998,-11.396652,-2.562117
3,0.001995,0.000998,-7.024211,-2.018732
4,0.001994,0.001995,-8.385627,-2.279519

In [39]:
score.mean()

fit_time                        0.001994
score_time                      0.001320
test_neg_mean_squared_error    -8.215396
test_neg_mean_absolute_error   -2.183866
dtype: float64

In [40]:
model = Ridge(alpha=1)
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=5)
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.000998,0.001994,-3.155132,-1.547117
1,0.001995,0.000997,-1.580870,-1.026044
2,0.001872,0.001564,-5.404556,-1.400793
3,0.001032,0.001039,-2.216545,-1.154251
4,0.001999,0.000997,-4.367094,-1.470222

In [41]:
scores.mean()

fit_time                        0.001579
score_time                      0.001318
test_neg_mean_squared_error    -3.344839
test_neg_mean_absolute_error   -1.319685
dtype: float64

# With GridSearchCV

In [42]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
base_model = ElasticNet()
param_grid = {'alpha':[0.1,0.5,1,1.5,2,5,10],'l1_ratio':[0.5,0.7,1]}
grid_model = GridSearchCV(base_model,param_grid,scoring='neg_mean_squared_error',cv=5,verbose = 3)
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 21 candidates, totalling 105 fits
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-3.325 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-1.428 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-5.596 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-2.163 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-4.452 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-3.270 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-1.442 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-5.502 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-2.164 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-4.357 total time=   0.0s
[CV 1/5] END ............alpha=0.1, l1_ratio=1;, score=-3.207 total time=   0.0s
[CV 2/5] END ............alpha=0.1, l1_ratio=1;, score=-1.480 total time=   0.0s
[CV 3/5] END ............alpha=0.1, l1_ratio=1;, score=-5.376 total time=   0.0s
[CV 4/5] END ............alpha=0.1, l1_ratio=1;, score=-2.182 total time=   0.0s
[CV 5/5] END ............alpha=0.1, l1_ratio=1;, score=-4.218 total time=   0.0s
[CV 1/5] END ..........alpha=0.5, l1_ratio=0.5;, score=-5.263 total time=   0.0s
[CV 2/5] END ..........alpha=0.5, l1_ratio=0.5;, score=-2.106 total time=   0.0s
[CV 3/5] END ..........alpha=0.5, l1_ratio=0.5;, score=-7.742 total time=   0.0s
[CV 4/5] END ..........alpha=0.5, l1_ratio=0.5;, score=-3.353 total time=   0.0s
[CV 5/5] END ..........alpha=0.5, l1_ratio=0.5;, score=-5.439 total time=   0.0s
[CV 1/5] END ..........alpha=0.5, l1_ratio=0.7;, score=-4.789 total time=   0.0s
[CV 2/5] END ..........alpha=0.5, l1_ratio=0.7;, score=-1.831 total time=   0.0s
[CV 3/5] END ..........alpha=0.5, l1_ratio=0.7;, score=-7.219 total time=   0.0s
[CV 4/5] END ..........alpha=0.5, l1_ratio=0.7;, score=-2.958 total time=   0.0s
[CV 5/5] END ..........alpha=0.5, l1_ratio=0.7;, score=-4.906 total time=   0.0s
[CV 1/5] END ............alpha=0.5, l1_ratio=1;, score=-4.127 total time=   0.0s
[CV 2/5] END ............alpha=0.5, l1_ratio=1;, score=-1.494 total time=   0.0s
[CV 3/5] END ............alpha=0.5, l1_ratio=1;, score=-6.397 total time=   0.0s
[CV 4/5] END ............alpha=0.5, l1_ratio=1;, score=-2.446 total time=   0.0s
[CV 5/5] END ............alpha=0.5, l1_ratio=1;, score=-4.289 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.5;, score=-8.707 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.5;, score=-4.214 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.5;, score=-10.879 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.5;, score=-6.205 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.5;, score=-7.173 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.7;, score=-7.921 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.7;, score=-3.550 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.7;, score=-10.025 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.7;, score=-5.380 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.7;, score=-6.325 total time=   0.0s
[CV 1/5] END ..............alpha=1, l1_ratio=1;, score=-6.469 total time=   0.0s
[CV 2/5] END ..............alpha=1, l1_ratio=1;, score=-2.391 total time=   0.0s
[CV 3/5] END ..............alpha=1, l1_ratio=1;, score=-8.410 total time=   0.0s
[CV 4/5] END ..............alpha=1, l1_ratio=1;, score=-3.894 total time=   0.0s
[CV 5/5] END ..............alpha=1, l1_ratio=1;, score=-5.106 total time=   0.0s
[CV 1/5] END .........alpha=1.5, l1_ratio=0.5;, score=-12.209 total time=   0.0s
[CV 2/5] END ..........alpha=1.5, l1_ratio=0.5;, score=-6.625 total time=   0.0s
[CV 3/5] END .........alpha=1.5, l1_ratio=0.5;, score=-13.885 total time=   0.0s
[CV 4/5] END ..........alpha=1.5, l1_ratio=0.5;, score=-9.307 total time=   0.0s
[CV 5/5] END ..........alpha=1.5, l1_ratio=0.5;, score=-8.983 total time=   0.0s
[CV 1/5] END .........alpha=1.5, l1_ratio=0.7;, score=-11.549 total time=   0.0s
[CV 2/5] END ..........alpha=1.5, l1_ratio=0.7;, score=-5.888 total time=   0.0s
[CV 3/5] END .........alpha=1.5, l1_ratio=0.7;, score=-13.072 total time=   0.0s
[CV 4/5] END ..........alpha=1.5, l1_ratio=0.7;, score=-8.470 total time=   0.0s
[CV 5/5] END ..........alpha=1.5, l1_ratio=0.7;, score=-8.177 total time=   0.0s
[CV 1/5] END ...........alpha=1.5, l1_ratio=1;, score=-10.136 total time=   0.0s
[CV 2/5] END ............alpha=1.5, l1_ratio=1;, score=-4.268 total time=   0.0s
[CV 3/5] END ...........alpha=1.5, l1_ratio=1;, score=-11.242 total time=   0.0s
[CV 4/5] END ............alpha=1.5, l1_ratio=1;, score=-6.584 total time=   0.0s
[CV 5/5] END ............alpha=1.5, l1_ratio=1;, score=-6.517 total time=   0.0s
[CV 1/5] END ...........alpha=2, l1_ratio=0.5;, score=-15.382 total time=   0.0s
[CV 2/5] END ............alpha=2, l1_ratio=0.5;, score=-8.936 total time=   0.0s
[CV 3/5] END ...........alpha=2, l1_ratio=0.5;, score=-16.581 total time=   0.0s
[CV 4/5] END ...........alpha=2, l1_ratio=0.5;, score=-12.209 total time=   0.0s
[CV 5/5] END ...........alpha=2, l1_ratio=0.5;, score=-10.699 total time=   0.0s
[CV 1/5] END ...........alpha=2, l1_ratio=0.7;, score=-15.247 total time=   0.0s
[CV 2/5] END ............alpha=2, l1_ratio=0.7;, score=-8.441 total time=   0.0s
[CV 3/5] END ...........alpha=2, l1_ratio=0.7;, score=-16.109 total time=   0.0s
[CV 4/5] END ...........alpha=2, l1_ratio=0.7;, score=-11.749 total time=   0.0s
[CV 5/5] END ...........alpha=2, l1_ratio=0.7;, score=-10.120 total time=   0.0s
[CV 1/5] END .............alpha=2, l1_ratio=1;, score=-15.127 total time=   0.0s
[CV 2/5] END ..............alpha=2, l1_ratio=1;, score=-7.123 total time=   0.0s
[CV 3/5] END .............alpha=2, l1_ratio=1;, score=-14.894 total time=   0.0s
[CV 4/5] END .............alpha=2, l1_ratio=1;, score=-10.517 total time=   0.0s
[CV 5/5] END ..............alpha=2, l1_ratio=1;, score=-8.524 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.5;, score=-27.793 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.5;, score=-18.602 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.5;, score=-27.108 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.5;, score=-23.945 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.5;, score=-18.065 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.7;, score=-29.656 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.7;, score=-21.085 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.7;, score=-29.629 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.7;, score=-26.725 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.7;, score=-20.224 total time=   0.0s
[CV 1/5] END .............alpha=5, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END .............alpha=5, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END .............alpha=5, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END .............alpha=5, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END .............alpha=5, l1_ratio=1;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.5;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.5;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.5;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.7;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.7;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.7;, score=-21.698 total time=   0.0s
[CV 1/5] END ............alpha=10, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END ............alpha=10, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END ............alpha=10, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END ............alpha=10, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END ............alpha=10, l1_ratio=1;, score=-21.698 total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 0.5, 1, 1.5, 2, 5, 10],
                         'l1_ratio': [0.5, 0.7, 1]},
             scoring='neg_mean_squared_error', verbose=3)

In [43]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [44]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.017830,3.167124e-02,0.000798,3.988982e-04,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,3
1,0.009575,1.566280e-02,0.000997,4.909339e-07,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,2
2,0.001994,1.907349e-07,0.000798,3.988745e-04,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
3,0.002194,3.987076e-04,0.000599,4.888114e-04,0.5,0.5,"{'alpha': 0.5, 'l1_ratio': 0.5}",-5.262734,-2.106134,-7.742260,-3.352577,-5.439260,-4.780593,1.930271,6
4,0.001995,3.989506e-07,0.000997,2.611745e-07,0.5,0.7,"{'alpha': 0.5, 'l1_ratio': 0.7}",-4.788862,-1.831036,-7.218702,-2.957602,-4.905525,-4.340345,1.844676,5

In [45]:
y_pred = grid_model.predict(X_test)
mean_squared_error(y_test, y_pred)

2.387342642087474